 body{
            background-color: cyan;
        }

        a{
            text-decoration: none;
            color: red;
        }

        a:hover{
            color: #45dc45;
            font-size: 20px;
        }


        /*Name:*/

        /*Js Class 2- 5*/

        /*repo link*/